

/__pycache__/
api/__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
.env
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.sql
